.footer {
  margin: 75px 0 100px;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 38px 41px;
    background: #1f2632;
    &__copy {
      width: 137px;
      p {
        font-size: 13px;
        line-height: 18px;
        font-weight: var(--font-r);
        color: #969696;
      }
    }
    &__social {
      ul {
        display: flex;
        align-items: center;
        @extend %dtrans;
        a:hover {
          opacity: 0.8;
          @extend %htrans;
        }
        li + li {
          margin-left: 16px;
        }
      }
    }
  }
}
