.header {
  position: relative;
  min-height: 768px;
  height: 100%;

  &::after {
    position: absolute;
    content: "";
    background-image: url("/img/header-el.avif");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    bottom: 0%;
  }

  &-el {
    &__top {
      position: absolute;
      top: -20%;
      bottom: 0;
      left: -16%;
      z-index: -1;
      content: "";
      display: inline-block;
      width: 350px;
      height: 350px;
      background: $c200;
      filter: blur(155px);
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      right: 20%;
      content: "";

      width: 350px;
      height: 350px;
      border-radius: 100%;
      background: $c200;
      filter: blur(150px);
    }
  }
}

// 768
@media (max-width: 768px) {
}

// 600
@media (max-width: 600px) {
}

// 480
@media (max-width: 480px) {
}

// 320
@media (max-width: 320px) {
  .header {
    &-el {
      &__top {
        width: 150px;
        height: 150px;
        top: -7%;


      }
    }
  }
}
