.headercont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-info {
    max-width: 675px;

    h1 {
      width: 95%;
      font-size: 54px;
      line-height: 65px;
      font-weight: var(--font-l);

      span {
        font-weight: var(--font-bk);
      }
    }

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: var(--font-r);
      padding: 32px 0 66px;
      width: 70%;
    }

    &__link {
      display: flex;
      align-items: center;

      a {
        margin-right: 58px;
        z-index: 999;
        position: relative;
        @extend %dtrans;

        &:hover {
          opacity: 0.8;
          @extend %htrans;
        }

        color: $c200;
        font-weight: var(--font-m);

        &:after {
          content: "";
          position: absolute;
          display: inline-block;
          background-image: url("/img/svg/link-down.svg");
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          top: 0;
          width: 24px;
          height: 24px;
          margin-left: 10px;
        }
      }

      button {
        z-index: 999;
        @extend %global-btn;
        border: none;
        cursor: pointer;
        @extend %dtrans;

        &:hover {
          @extend %color-eff;
        }
      }
    }

    &__awards {
      margin-top: 60px;

      ul {
        display: flex;
        align-items: center;

        li + li {
          margin-left: 73px;
        }
      }
    }
  }

  &-slider {
    display: flex;
    max-width: 497px;
    width: 100%;
    position: absolute;
    right: -9%;
    top: -12%;
    z-index: 1;
    overflow: hidden;

    &--commit {
      @extend %border-ef;
      position: absolute;
      padding: 18px 11px 18px 25px;
      border-radius: 20px;
      width: 253px;
      color: $c100;
      background: $default;
      right: 10%;
      bottom: 20%;

      ul {
        display: flex;
        align-items: center;
        margin-bottom: 3px;

        &:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border-left: 7.5px solid transparent;
          border-right: 7.5px solid transparent;
          border-bottom: 15px solid $default;
          @extend %border-ef;
          top: -7%;
          right: 30%;
        }
      }

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: var(--font-l);
        margin-bottom: 6px;
      }

      strong {
        font-size: 15px;
        line-height: 20px;
        font-weight: var(--font-sb);
      }
    }
  }

  &-pagination {
    margin: 0 0 20px 20px;
    position: absolute;
    bottom: -10%;
    z-index: 1;
    background: $c100;
    max-width: 169px;
    width: 100%;
    height: 28px;
    border-radius: 70px;
  }
}

.swiper-wrapper {
  width: 497px;
}

.swiper-pagination-bullet {
  width: 17px;
  height: 3px;
  background: $c300;
  border-radius: 12px;
  @extend %dtrans;

  &-active {
    width: 47px;
    @extend %htrans;
    background: $c200;
  }
}

// 768
@media (max-width: 768px) {
  .header-cont__block {
    max-width: 730px;
  }
  .headercont {
    &-info {
      &__awards {
        ul {
          justify-content: center;
          width: 730px;

          li + li {
            margin-left: 30px;
          }
        }
      }
    }

    &-slider {
      display: none;
      width: 300px;
      right: 0;
    }
  }
}

// 600
@media (max-width: 600px) {
  .header-cont__block {
    max-width: 570px;
  }
  .headercont {
    flex-direction: column;
    width: 570px;

    &-info {
      width: 100%;

      h1 {
        font-size: 30px;
        line-height: 35px;
      }

      p {
        width: 100%;
        font-size: 14px;
        line-height: 19px;
        padding: 18px 0 40px;
      }

      &__link {
        a {
          font-size: 13px;
          line-height: 15px;
          width: 64%;
          margin-right: 30px;

          &:after {
            width: 18px;
            height: 18px;
            margin-left: 8px;
          }
        }

        button {
          width: 60%;
          padding: 14px 7px;
          font-size: 13px;
          line-height: 15px;
        }
      }

      &__awards {
        ul {
          width: 100%;
          justify-content: center;
          li {
          }

          li + li {
            margin-left: 30px;
          }
        }
      }
    }

    &-slider {
      display: none;
      width: 300px;
      right: 0;
    }
  }
}

// 480
@media (max-width: 480px) {
  .header-cont__block {
    max-width: 450px;
  }
  .headercont {
    flex-direction: column;
    width: 450px;
    &-info {
      width: 450px;

      h1 {
        font-size: 25px;
        line-height: 35px;
      }

      p {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
        padding: 18px 0 40px;
      }

      &__link {
        a {
          font-size: 13px;
          line-height: 15px;
          width: 64%;
          margin-right: 30px;

          &:after {
            width: 18px;
            height: 18px;
            margin-left: 8px;
          }
        }

        button {
          width: 60%;
          padding: 14px 7px;
          font-size: 13px;
          line-height: 15px;
        }
      }

      &__awards {
        ul {
          width: 450px;
          justify-content: center;
          li {
            img {
              width: 75%;
            }
          }

          li + li {
            margin-left: 15px;
          }
        }
      }
    }

    &-slider {
      display: none;
      width: 300px;
      right: 0;
    }
  }
}

// 320
@media (max-width: 320px) {
  .header-cont__block {
    max-width: 290px;
  }
  .headercont {
    flex-direction: column;

    &-info {
      width: 290px;

      h1 {
        font-size: 22px;
        line-height: 32px;
      }

      p {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
        padding: 18px 0 40px;
      }

      &__link {
        a {
          font-size: 13px;
          line-height: 15px;
          width: 64%;
          margin-right: 30px;

          &:after {
            width: 18px;
            height: 18px;
            margin-left: 8px;
          }
        }

        button {
          width: 60%;
          padding: 14px 7px;
          font-size: 13px;
          line-height: 15px;
        }
      }

      &__awards {
        ul {
          width: 290px;
          margin: 0 auto;

          li {
            img {
              width: 65%;
            }
          }

          li + li {
            margin-left: -1%;
          }
        }
      }
    }

    &-slider {
      display: none;
      width: 300px;
      right: 0;
    }
  }
}
