.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 9999;
  &-block {
    margin: 11px 0;
  }
  &-menu {
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          font-weight: var(--font-r);
          font-size: 15px;
          line-height: 20px;
          @extend %dtrans;
          &:hover {
            color: $c200;
            @extend %htrans;
          }
        }
      }
      li + li {
        margin-left: 39px;
      }
    }
  }
  &-social {
    a + a {
      margin-left: 16px;
    }
    a {
      @extend %dtrans;
      &:hover {
        opacity: 0.8;
        @extend %htrans;
      }
    }
  }
  &-btn {
    @extend %global-btn;
    cursor: pointer;
    background: $default;
    @extend %dtrans;
    a {
      color: $c100;
      @extend %dtrans;
    }
    &:hover {
      @extend %color-eff;

      a {
        color: $default;
        @extend %htrans;
      }
    }
  }
}

// 768
@media (max-width: 768px) {
  .navigation {
    background: $c100;
    width: 760px;
    height: 70px;
    top: -11px;
    left: -15px;
    border-radius: 0 0 22px 22px;
    display: flex;
    justify-content: center;
    &-logo,
    &-menu,
    &-social,
    &-btn {
      display: none;
    }
  }
}

// 600
@media (max-width: 600px) {
  .navigation {
    background: $c100;
    width: 570px;
    height: 70px;
    top: -11px;
    left: -15px;
    border-radius: 0 0 22px 22px;
    display: flex;
    justify-content: center;
    &-logo,
    &-menu,
    &-social,
    &-btn {
      display: none;
    }
  }
}

// 480
@media (max-width: 480px) {
  .navigation {
    background: $c100;
    width: 480px;
    height: 50px;
    top: -11px;
    left: -15px;
    border-radius: 0 0 22px 22px;
    display: flex;
    justify-content: center;
    &-logo,
    &-menu,
    &-social,
    &-btn {
      display: none;
    }
  }
}

// 320
@media (max-width: 320px) {
  .navigation {
    background: $c100;
    width: 320px;
    height: 50px;
    top: -11px;
    left: -15px;
    border-radius: 0 0 22px 22px;
    display: flex;
    justify-content: center;
    &-logo,
    &-menu,
    &-social,
    &-btn {
      display: none;
    }
  }
}
