.services {
  position: relative;

  &-tab {
    padding-top: 76px;
    &:after {
      position: absolute;
      top: -25%;
      bottom: 0;
      left: -19%;
      z-index: -1;
      content: "";
      display: inline-block;
      width: 350px;
      height: 350px;
      background: $c200;
      filter: blur(155px);
    }
    h2 {
      font-size: 44px;
      line-height: 50px;
      font-weight: var(--font-r);
      padding-bottom: 55px;
      span {
        font-weight: var(--font-bk);
      }
    }
  }
  &-cont {
    display: none;
    height: 434px;
    margin: 68px 0 145px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    @extend %dtrans;
    &__text {
      width: 568px;
      margin-left: 53px;
      h2 {
        font-size: 30px;
        line-height: 35px;
        font-weight: var(--font-sb);
        margin-bottom: 21px;
      }
      p {
        font-weight: var(--font-r);
      }
      p + p {
        margin-top: 20px;
      }
    }
    &__link {
      margin-top: 43px;
      button {
        @extend %global-btn;
        border: none;
        //padding: 16px 63px;
        font-size: 14px;
        line-height: 20px;
        font-weight: var(--font-m);
        @extend %dtrans;

        &:hover {
          @extend %color-eff;
        }
      }
      a {
        position: relative;
        font-weight: var(--font-m);
        color: $c200;
        padding-left: 52px;

        &:after {
          position: absolute;
          content: "";
          background-image: url("/img/svg/services-icon-link.svg");
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          margin-left: 16px;
          width: 24px;
          height: 24px;
          top: 5%;
        }
        @extend %dtrans;
        &:hover {
          opacity: 0.8;
          @extend %htrans;
        }
      }
    }
  }
  &-tabs {
    button + button {
      margin-left: 23px;
    }
    &__btn {
      @extend %global-btn;
      font-weight: var(--font-sb);
      border: none;
      border-radius: 8px;
      padding: 18px 44px;
      background: $default;
      color: $c100;
      cursor: pointer;
      @extend %dtrans;
      &.active {
        background: $c200;
        color: $default;
        @extend %htrans;
      }
    }
  }
  &-el {
    &__top {
      position: absolute;
      background-image: url("/img/services-el-1.webp");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      top: -30%;
      width: 100%;
      height: 500px;
      overflow: hidden;
      z-index: -1;
      transform: rotate(2deg);
      opacity: 0.2;
    }
  }
  &-expertise {
    position: relative;
    padding: 61px 0 99px;
    background: linear-gradient(180deg, #222939 0%, #222939 100%);
    border-radius: 66px;
    span {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      background: $default;
      height: 15%;
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      background-image: url("/img/services-el-2.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      top: -38%;
      width: 100%;
      height: 500px;
      z-index: -1;
      //overflow: hidden;
      opacity: 0.3;
    }
    &:before {
      position: absolute;
      top: -10%;
      bottom: 0;
      right: 5%;
      z-index: -1;
      content: "";
      display: inline-block;
      width: 350px;
      height: 350px;
      background: $c200;
      filter: blur(155px);
    }
    &__title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      h2 {
        font-size: 44px;
        line-height: 50px;
        font-weight: var(--font-l);
        color: $default;
        strong {
          font-weight: var(--font-b);
        }
      }
      p {
        width: 585px;
        font-size: 16px;
        line-height: 20px;
        font-weight: var(--font-r);
      }
    }
    &__inner {
      margin-top: 91px;
      ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 157px;
        li {
          text-align: center;
          p {
            font-size: 20px;
            line-height: 25px;
            font-weight: var(--font-sb);
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.show {
  display: flex;
  @extend %htrans;
  opacity: 1;
}

// 768
@media (max-width: 768px) {
}

// 600
@media (max-width: 600px) {
}

// 480
@media (max-width: 480px) {
}

// 320
@media (max-width: 320px) {
  .services {
    &-el {
      &__top {
        top: -3%;
        height: 320px;
      }
    }
    &-tab {
      width: 290px;

      h2 {
        font-size: 32px;
        line-height: 42px;
        text-align: center;
      }
    }
    &-tabs {
      width: 290px;
      button {
        width: 100%;
      }
      button + button {
        margin-left: 0;
        margin-top: 6px;
      }
    }
    &-cont {
      flex-direction: column;
      width: 290px;
      &__img {
        display: none;
      }
      &__text {
        width: 290px;
        margin-left: 0;
        text-align: center;

        h2 {
          font-size: 25px;
          line-height: 30px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__link {
        width: 290px;
        display: flex;
        align-items: center;
        button {
          width: 150px;
          font-size: 13px;
          line-height: 18px;
          padding: 9px;
          height: 50px;
        }
        a {
          padding-left: 20px;
          &:after {
            width: 21px;
            height: 21px;
            margin-left: 8px;
          }
        }
      }
    }
    &-expertise {
      border-radius: 35px;
      &__title {
        width: 290px;
        flex-direction: column;
        h2 {
          font-size: 32px;
          line-height: 42px;
          text-align: center;
          margin-bottom: 20px;
        }
        p {
          width: 290px;
          text-align: center;
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__inner {
        width: 290px;
        ul {
          gap: 40px;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;

          li {
            text-align: center;

            img {
              width: 50%;
            }
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
