@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;900&display=swap");
:root {
  --font-family: "Prompt", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --font-l: 300;
  --font-r: 400;
  --font-m: 500;
  --font-sb: 600;
  --font-b: 700;
  --font-bk: 900;
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

.delivering-cont__item:hover, .headercont-slider--commit ul:after, .headercont-slider--commit {
  -webkit-box-shadow: 0px 5px 35px rgba(225, 242, 255, 0.9);
  box-shadow: 0px 5px 35px rgba(225, 242, 255, 0.9);
}

.footer-inner__social ul, .contact-form__btn button, .works-slide__info a, .services-tabs__btn, .services-cont__link a, .services-cont__link button, .services-cont, .delivering-tech__design ul li p, .delivering-tech__front ul li p, .delivering-tech__back ul li p, .delivering-tech__design ul li, .delivering-tech__front ul li, .delivering-tech__back ul li, .delivering-cont__item, .swiper-pagination-bullet, .headercont-info__link button, .headercont-info__link a, .menu-inner__content--social a, .menu-inner__content li a, .menu-inner__social img, .navigation-btn a, .navigation-btn, .navigation-social a, .navigation-menu ul li a, .modal-close, .modal-inner__form button {
  -webkit-transition: var(--d-tr);
  -o-transition: var(--d-tr);
  transition: var(--d-tr);
}

.footer-inner__social ul a:hover, .works-slide__info a:hover, .show, .services-tabs__btn.active, .services-cont__link a:hover, .delivering-tech__design ul li:hover p, .delivering-tech__front ul li:hover p, .delivering-tech__back ul li:hover p, .delivering-tech__design ul li:hover, .delivering-tech__front ul li:hover, .delivering-tech__back ul li:hover, .delivering-cont__item:hover, .swiper-pagination-bullet-active, .headercont-info__link a:hover, .menu-inner__content--social a:hover, .menu-inner__content li a:hover, .menu-inner__social img:hover, .navigation-btn:hover a, .navigation-social a:hover, .navigation-menu ul li a:hover, .modal-close:hover {
  -webkit-transition: var(--h-tr);
  -o-transition: var(--h-tr);
  transition: var(--h-tr);
}

.services-tabs__btn, .services-cont__link button, .headercont-info__link button, .navigation-btn {
  background: #599d2e;
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--font-m);
  color: #fff;
  padding: 16px 63px;
  border-radius: 39px;
}

.box-container {
  width: 925px;
  float: right;
  padding: 0 15px;
}

.contact-form__btn button:hover, .services-cont__link button:hover, .headercont-info__link button:hover, .navigation-btn:hover, .modal-inner__form button:hover {
  background: #64b531;
  -webkit-transition: var(--h-tr);
  -o-transition: var(--h-tr);
  transition: var(--h-tr);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p,
h3,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.btn-reset {
  border: none;
  background: #f2f2f2;
  border-radius: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-r);
  height: 46px;
  padding: 0px 20px;
  width: 100%;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-weight: var(--font-r);
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #222939;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: var(--container-width);
}

.box-cont {
  width: 925px;
}

.header {
  position: relative;
  min-height: 768px;
  height: 100%;
}
.header::after {
  position: absolute;
  content: "";
  background-image: url("/img/header-el.avif");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  bottom: 0%;
}
.header-el__top {
  position: absolute;
  top: -20%;
  bottom: 0;
  left: -16%;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 350px;
  height: 350px;
  background: #599d2e;
  -webkit-filter: blur(155px);
  filter: blur(155px);
}
.header-el__bottom {
  position: absolute;
  bottom: 0;
  right: 20%;
  content: "";
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: #599d2e;
  -webkit-filter: blur(150px);
  filter: blur(150px);
}

@media (max-width: 320px) {
  .header {
    min-height: 600px;
  }
  .header:after {
    bottom: -17%;
  }
  .header-el__top {
    width: 150px;
    height: 150px;
    top: -7%;
  }
  .header-el__bottom {
    width: 150px;
    height: 150px;
    bottom: -10%;
    right: 40%;
  }
}
.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 6000px;
  z-index: 9999;
  top: -2%;
  overflow: auto;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.modal-box {
  position: fixed;
  top: 30%;
  right: 35%;
  z-index: 9999;
  width: 421px;
}
.modal-inner {
  background: #e9eaeb;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 34px;
}
.modal-inner__title {
  width: 100%;
  text-align: center;
  margin-bottom: 34px;
}
.modal-inner__title h2 {
  color: #222939;
  font-size: 26px;
  line-height: 30px;
  font-weight: var(--font-b);
}
.modal-inner__title h2 span {
  color: #599d2e;
}
.modal-inner__form {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.modal-inner__form input {
  margin-bottom: 9px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 6px;
  padding: 11px 0 11px 16px;
  font-weight: var(--font-l);
  outline: none;
}
.modal-inner__form button {
  margin-top: 8px;
  background: #599d2e;
  border-radius: 39px;
  padding: 14px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-m);
  color: #fff;
}
.modal-close {
  position: absolute;
  border: 2px solid #979797;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 3%;
  right: 3%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  padding: 0;
  margin: 0;
}
.modal-close:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.modal-close p {
  color: #979797;
  font-size: 17px;
}

.show-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}
.navigation-block {
  margin: 11px 0;
}
.navigation-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation-menu ul li a {
  font-weight: var(--font-r);
  font-size: 15px;
  line-height: 20px;
}
.navigation-menu ul li a:hover {
  color: #599d2e;
}
.navigation-menu ul li + li {
  margin-left: 39px;
}
.navigation-social a + a {
  margin-left: 16px;
}
.navigation-social a:hover {
  opacity: 0.8;
}
.navigation-btn {
  cursor: pointer;
  background: #fff;
}
.navigation-btn a {
  color: #222939;
}
.navigation-btn:hover a {
  color: #fff;
}

@media (max-width: 320px) {
  .navigation {
    background: #222939;
    width: 320px;
    height: 50px;
    top: -11px;
    left: -15px;
    border-radius: 0 0 22px 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation-logo, .navigation-menu, .navigation-social, .navigation-btn {
    display: none;
  }
}
.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu-inner {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-inner__logo {
  margin-right: 73px;
}
.menu-inner__social {
  margin-right: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-inner__social img {
  cursor: pointer;
}
.menu-inner__social img:hover {
  opacity: 0.5;
}
.menu-inner__social img + img {
  margin-left: 31px;
}
.menu-inner__btn {
  z-index: 9999;
  height: 22px;
  display: block;
  width: 30px;
  position: relative;
  cursor: pointer;
}
.menu-inner__btn input {
  opacity: 0;
  position: absolute;
  top: 0;
}
.menu-inner__btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-inner__btn span:nth-child(1) {
  top: 0;
}
.menu-inner__btn span:nth-child(3) {
  width: 50%;
  margin-right: 0 auto;
}
.menu-inner__btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}
.menu-inner__btn span:nth-child(3) {
  bottom: 0;
}
.menu-inner__btn.active span:nth-child(4) {
  top: 55%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  background-color: #fff;
}
.menu-inner__btn.active span:nth-child(2) {
  opacity: 0;
}
.menu-inner__btn.active span:nth-child(3) {
  top: 45%;
  -webkit-transform: translateY(50%) rotate(-45deg);
  -ms-transform: translateY(50%) rotate(-45deg);
  transform: translateY(50%) rotate(-45deg);
  background-color: #fff;
  width: 100%;
}
.menu-inner__content {
  display: none;
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222939;
  z-index: -1;
}
.menu-inner__content ul {
  text-align: center;
  margin-top: 53px;
}
.menu-inner__content li a {
  font-size: 23px;
  line-height: 30px;
  font-weight: var(--font-r);
}
.menu-inner__content li a:hover {
  color: #64b531;
}
.menu-inner__content li + li {
  margin-top: 32px;
}
.menu-inner__content--social {
  text-align: center;
  margin-top: 32px;
}
.menu-inner__content--social a:hover {
  opacity: 0.5;
}
.menu-inner__content--social a + a {
  margin-left: 32px;
}
.menu-inner__content.active {
  display: block;
  -webkit-animation: slide-down 0.3s ease-in-out;
  animation: slide-down 0.3s ease-in-out;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 320px) {
  .menu {
    width: 290px;
  }
  .menu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-inner__btn {
    z-index: 9999;
    height: 22px;
    cursor: pointer;
  }
  .menu-inner__btn input {
    opacity: 0;
    position: absolute;
    top: 0;
  }
}
.headercont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headercont-info {
  max-width: 675px;
}
.headercont-info h1 {
  width: 95%;
  font-size: 54px;
  line-height: 65px;
  font-weight: var(--font-l);
}
.headercont-info h1 span {
  font-weight: var(--font-bk);
}
.headercont-info p {
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--font-r);
  padding: 32px 0 66px;
  width: 70%;
}
.headercont-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headercont-info__link a {
  margin-right: 58px;
  z-index: 999;
  position: relative;
  color: #599d2e;
  font-weight: var(--font-m);
}
.headercont-info__link a:hover {
  opacity: 0.8;
}
.headercont-info__link a:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("/img/svg/link-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.headercont-info__link button {
  z-index: 999;
  border: none;
  cursor: pointer;
}
.headercont-info__awards {
  margin-top: 60px;
}
.headercont-info__awards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headercont-info__awards ul li + li {
  margin-left: 73px;
}
.headercont-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 497px;
  width: 100%;
  position: absolute;
  right: -9%;
  top: -12%;
  z-index: 1;
  overflow: hidden;
}
.headercont-slider--commit {
  position: absolute;
  padding: 18px 11px 18px 25px;
  border-radius: 20px;
  width: 253px;
  color: #222939;
  background: #fff;
  right: 10%;
  bottom: 20%;
}
.headercont-slider--commit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3px;
}
.headercont-slider--commit ul:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid #fff;
  top: -7%;
  right: 30%;
}
.headercont-slider--commit p {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-l);
  margin-bottom: 6px;
}
.headercont-slider--commit strong {
  font-size: 15px;
  line-height: 20px;
  font-weight: var(--font-sb);
}
.headercont-pagination {
  margin: 0 0 20px 20px;
  position: absolute;
  bottom: -10%;
  z-index: 1;
  background: #222939;
  max-width: 169px;
  width: 100%;
  height: 28px;
  border-radius: 70px;
}

.swiper-wrapper {
  width: 497px;
}

.swiper-pagination-bullet {
  width: 17px;
  height: 3px;
  background: #bcbcbc;
  border-radius: 12px;
}
.swiper-pagination-bullet-active {
  width: 47px;
  background: #599d2e;
}

@media (max-width: 320px) {
  .header-cont__block {
    max-width: 290px;
  }
  .headercont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .headercont-info {
    width: 290px;
  }
  .headercont-info h1 {
    font-size: 22px;
    line-height: 32px;
  }
  .headercont-info p {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    padding: 18px 0 40px;
  }
  .headercont-info__link a {
    font-size: 13px;
    line-height: 15px;
    width: 64%;
    margin-right: 30px;
  }
  .headercont-info__link a:after {
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
  .headercont-info__link button {
    width: 60%;
    padding: 14px 7px;
    font-size: 13px;
    line-height: 15px;
  }
  .headercont-info__awards ul {
    width: 290px;
    margin: 0 auto;
  }
  .headercont-info__awards ul li img {
    width: 65%;
  }
  .headercont-info__awards ul li + li {
    margin-left: -1%;
  }
  .headercont-slider {
    display: none;
    width: 300px;
    right: 0;
  }
}
.delivering {
  position: relative;
  background: #fff;
  border-radius: 66px;
  height: 850px;
  z-index: 9;
  color: #222939;
}
.delivering-cont {
  padding-top: 60px;
}
.delivering-cont h2 {
  width: 100%;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  font-weight: var(--font-r);
}
.delivering-cont h2 span {
  font-weight: var(--font-b);
}
.delivering-cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 81px;
}
.delivering-cont__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 0%;
  cursor: pointer;
}
.delivering-cont__item:hover {
  border-radius: 8%;
}
.delivering-cont__item--text {
  margin-left: 29px;
  width: 254px;
}
.delivering-cont__item--text h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: var("--font-sb");
  margin-bottom: 10px;
}
.delivering-cont__item--text p {
  font-weight: var(--font-l);
}
.delivering-tech {
  margin-top: 84px;
}
.delivering-tech h2 {
  text-align: left;
  font-size: 44px;
  line-height: 50px;
  font-weight: var(--font-l);
}
.delivering-tech h2 span {
  font-weight: var(--font-b);
}
.delivering-tech__design, .delivering-tech__front, .delivering-tech__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 37px;
}
.delivering-tech__design h3, .delivering-tech__front h3, .delivering-tech__back h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: var(--font-sb);
  color: #599d2e;
  margin-right: 102px;
}
.delivering-tech__design ul, .delivering-tech__front ul, .delivering-tech__back ul {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
}
.delivering-tech__design ul li, .delivering-tech__front ul li, .delivering-tech__back ul li {
  cursor: pointer;
  text-align: center;
  font-weight: var(--font-r);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.delivering-tech__design ul li p, .delivering-tech__front ul li p, .delivering-tech__back ul li p {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: var(--font-r);
  margin-top: 9px;
  opacity: 0.8;
}
.delivering-tech__design ul li:hover, .delivering-tech__front ul li:hover, .delivering-tech__back ul li:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.delivering-tech__design ul li:hover p, .delivering-tech__front ul li:hover p, .delivering-tech__back ul li:hover p {
  opacity: 1;
}
.delivering-tech__front {
  margin: 40px 0;
}
.delivering-tech__front h3, .delivering-tech__back h3 {
  margin-right: 77px;
}
.delivering-tech__front ul li p, .delivering-tech__back ul li p {
  text-transform: uppercase;
}
.delivering-tech__back {
  margin-top: 0;
}
.delivering-tech__back h3 {
  margin-right: 85px;
}

@media (max-width: 320px) {
  .deliveringcont {
    width: 290px;
    padding-bottom: 40px;
  }
  .delivering {
    border-radius: 35px;
    height: 100%;
  }
  .delivering-cont h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .delivering-cont ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .delivering-tech__design, .delivering-tech__front, .delivering-tech__back {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .delivering-tech__design h3, .delivering-tech__front h3, .delivering-tech__back h3 {
    margin-right: 20px;
    font-size: 18px;
    line-height: 26px;
  }
  .delivering-tech__design ul, .delivering-tech__front ul, .delivering-tech__back ul {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .delivering-tech__design ul li p, .delivering-tech__front ul li p, .delivering-tech__back ul li p {
    font-size: 13px;
    line-height: 20px;
  }
}
.services {
  position: relative;
}
.services-tab {
  padding-top: 76px;
}
.services-tab:after {
  position: absolute;
  top: -25%;
  bottom: 0;
  left: -19%;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 350px;
  height: 350px;
  background: #599d2e;
  -webkit-filter: blur(155px);
  filter: blur(155px);
}
.services-tab h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: var(--font-r);
  padding-bottom: 55px;
}
.services-tab h2 span {
  font-weight: var(--font-bk);
}
.services-cont {
  display: none;
  height: 434px;
  margin: 68px 0 145px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.services-cont__text {
  width: 568px;
  margin-left: 53px;
}
.services-cont__text h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: var(--font-sb);
  margin-bottom: 21px;
}
.services-cont__text p {
  font-weight: var(--font-r);
}
.services-cont__text p + p {
  margin-top: 20px;
}
.services-cont__link {
  margin-top: 43px;
}
.services-cont__link button {
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-m);
}
.services-cont__link a {
  position: relative;
  font-weight: var(--font-m);
  color: #599d2e;
  padding-left: 52px;
}
.services-cont__link a:after {
  position: absolute;
  content: "";
  background-image: url("/img/svg/services-icon-link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;
  width: 24px;
  height: 24px;
  top: 5%;
}
.services-cont__link a:hover {
  opacity: 0.8;
}
.services-tabs button + button {
  margin-left: 23px;
}
.services-tabs__btn {
  font-weight: var(--font-sb);
  border: none;
  border-radius: 8px;
  padding: 18px 44px;
  background: #fff;
  color: #222939;
  cursor: pointer;
}
.services-tabs__btn.active {
  background: #599d2e;
  color: #fff;
}
.services-el__top {
  position: absolute;
  background-image: url("/img/services-el-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: -30%;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: -1;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  opacity: 0.2;
}
.services-expertise {
  position: relative;
  padding: 61px 0 99px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222939), to(#222939));
  background: -o-linear-gradient(top, #222939 0%, #222939 100%);
  background: linear-gradient(180deg, #222939 0%, #222939 100%);
  border-radius: 66px;
}
.services-expertise span {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 15%;
  z-index: -1;
}
.services-expertise:after {
  content: "";
  position: absolute;
  background-image: url("/img/services-el-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -38%;
  width: 100%;
  height: 500px;
  z-index: -1;
  opacity: 0.3;
}
.services-expertise:before {
  position: absolute;
  top: -10%;
  bottom: 0;
  right: 5%;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 350px;
  height: 350px;
  background: #599d2e;
  -webkit-filter: blur(155px);
  filter: blur(155px);
}
.services-expertise__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services-expertise__title h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: var(--font-l);
  color: #fff;
}
.services-expertise__title h2 strong {
  font-weight: var(--font-b);
}
.services-expertise__title p {
  width: 585px;
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--font-r);
}
.services-expertise__inner {
  margin-top: 91px;
}
.services-expertise__inner ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  gap: 157px;
}
.services-expertise__inner ul li {
  text-align: center;
}
.services-expertise__inner ul li p {
  font-size: 20px;
  line-height: 25px;
  font-weight: var(--font-sb);
  margin-top: 10px;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

@media (max-width: 320px) {
  .services-el__top {
    top: -3%;
    height: 320px;
  }
}
.works {
  background: #fff;
  padding-bottom: 60px;
  border-radius: 0 0 60px 60px;
}
.works-inner {
  color: #222939;
  padding-top: 97px;
}
.works-inner h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: var(--font-l);
}
.works-inner h2 span {
  font-weight: var(--font-b);
}
.works-content {
  overflow: hidden;
  margin: 57px 0 25px;
}
.works-content__wrapper {
  width: 100%;
}
.works-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.works-slide__img {
  position: relative;
}
.works-slide__img span {
  position: absolute;
  bottom: 3%;
  left: 3%;
  background: #204848;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-weight: var(--font-sb);
  padding: 15px;
  border-radius: 10px;
}
.works-slide__info {
  width: 55%;
  margin-left: 48px;
}
.works-slide__info button {
  font-weight: var(--font-l);
  border: 1px solid #222939;
  background: rgba(89, 157, 46, 0.21);
  padding: 7px 44px;
  cursor: default;
  margin-bottom: 25px;
  border-radius: 2px;
}
.works-slide__info h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: var(--font-sb);
}
.works-slide__info p {
  margin-top: 25px;
  font-size: 17px;
  line-height: 23px;
}
.works-slide__info p + p {
  margin-bottom: 25px;
}
.works-slide__info a {
  color: #599d2e;
  margin-top: 25px;
  font-weight: var(--font-m);
  cursor: pointer;
}
.works-slide__info a:hover {
  opacity: 0.8;
}
.works-slide__info a:after {
  position: absolute;
  content: "";
  background-image: url("/img/svg/services-icon-link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-left: 15px;
}
.works-pagination {
  width: 169px;
  border-radius: 70px;
  margin: 0 auto;
  background: #222939;
}
.works-pagination__box {
  padding: 5px 26px;
}
.works-pagination button {
  width: 17px;
  height: 2px;
  background: #bcbcbc;
  border-radius: 12px;
  vertical-align: middle;
}
.works-pagination button.active {
  width: 47px;
  background: #599d2e;
}

.swiper-pagination-horizontal {
  max-width: 169px;
  height: 28px;
}

.about {
  position: relative;
  z-index: -1;
}
.about span {
  position: absolute;
  bottom: -60%;
  right: -5%;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 350px;
  height: 350px;
  background: #599d2e;
  -webkit-filter: blur(155px);
  filter: blur(155px);
}
.about:after {
  position: absolute;
  content: "";
  background-image: url("/img/about-el-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  top: -25%;
  overflow: hidden;
}
.about:before {
  position: absolute;
  top: -15%;
  left: -18%;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 350px;
  height: 350px;
  background: #599d2e;
  -webkit-filter: blur(155px);
  filter: blur(155px);
}
.about-inner {
  padding-top: 118px;
}
.about-inner__title h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: var(--font-bk);
}
.about-inner__cont {
  margin-top: 57px;
}
.about-inner__cont ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-inner__cont ul li:after {
  position: absolute;
  content: "";
  background-image: url("/img/svg/about-el-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  top: -48%;
  right: -6%;
  width: 220px;
  height: 220px;
}
.about-inner__cont ul li p {
  font-weight: var(--font-r);
  line-height: 25px;
  width: 700px;
}
.about-inner__bottom {
  margin: 60px 0 100px;
}
.about-inner__bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-inner__bottom--text {
  width: 395px;
}
.about-inner__bottom--text h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--font-b);
  margin-bottom: 17px;
}
.about-inner__bottom--text p {
  line-height: 25px;
  font-weight: var(--font-r);
}
.about-inner__bottom--text p + p {
  margin-top: 20px;
}

.tech {
  position: relative;
  background: #fff;
  border-radius: 60px;
  color: #222939;
  padding: 61px 0;
}
.tech::after {
  position: absolute;
  content: "";
  background-image: url("/img/tech-el-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 800px;
  bottom: 0;
  right: -23%;
  overflow: hidden;
  z-index: -1;
}
.tech-inner__marg {
  margin: 0;
}

.contact-inner {
  margin-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-adress__title {
  font-size: 44px;
  line-height: 50px;
  font-weight: var(--font-bk);
}
.contact-adress ul {
  margin-top: 28px;
}
.contact-adress ul h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--font-b);
}
.contact-adress ul li p,
.contact-adress ul li a {
  margin-left: 18px;
  font-size: 20px;
  line-height: 25px;
  font-weight: var(--font-r);
}
.contact-adress ul li + li {
  margin-top: 33px;
}
.contact-adress__text, .contact-adress__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 23px;
}
.contact-form {
  width: 480px;
}
.contact-form h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: var(--font-m);
  margin-bottom: 28px;
}
.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact-form form input {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ededed;
  padding: 15px 0 15px 18px;
  font-weight: var(--font-l);
  outline: none;
  margin-bottom: 14px;
}
.contact-form form textarea {
  outline: none;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ededed;
  padding: 15px 0 15px 18px;
  font-weight: var(--font-l);
  height: 138px;
  margin-bottom: 14px;
}
.contact-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-form__btn p {
  font-weight: var(--font-b);
}
.contact-form__btn button {
  background: #599d2e;
  border-radius: 39px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: var(--font-m);
  padding: 16px 63px;
  width: 174px;
  float: right;
}
.footer {
  margin: 75px 0 100px;
}
.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  padding: 38px 41px;
  background: #1f2632;
}
.footer-inner__copy {
  width: 137px;
}
.footer-inner__copy p {
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--font-r);
  color: #969696;
}
.footer-inner__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-inner__social ul a:hover {
  opacity: 0.8;
}
.footer-inner__social ul li + li {
  margin-left: 16px;
}
/*# sourceMappingURL=main.css.map */