@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;900&display=swap");
:root {
  --font-family: "Prompt", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --font-l: 300;
  --font-r: 400;
  --font-m: 500;
  --font-sb: 600;
  --font-b: 700;
  --font-bk: 900;
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

.headercont-slider--commit ul:after, .headercont-slider--commit {
  -webkit-box-shadow: 0px 5px 35px rgba(225, 242, 255, 0.9);
  box-shadow: 0px 5px 35px rgba(225, 242, 255, 0.9);
}

.swiper-pagination-bullet, .headercont-info__link button, .headercont-info__link a, .navigation-btn, .navigation-social a, .navigation-menu ul li a {
  -webkit-transition: var(--d-tr);
  -o-transition: var(--d-tr);
  transition: var(--d-tr);
}

.swiper-pagination-bullet-active, .headercont-info__link button:hover, .headercont-info__link a:hover, .navigation-btn:hover, .navigation-social a:hover, .navigation-menu ul li a:hover {
  -webkit-transition: var(--h-tr);
  -o-transition: var(--h-tr);
  transition: var(--h-tr);
}

.headercont-info__link button, .navigation-btn {
  background: #599d2e;
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--font-m);
  color: #fff;
  padding: 16px 63px;
  border-radius: 39px;
}

.box-container {
  width: 925px;
  float: right;
  padding: 0 15px;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p,
h3,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  background: #f2f2f2;
  border-radius: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-r);
  height: 46px;
  padding: 0px 20px;
  width: 100%;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-weight: var(--font-r);
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #222939;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: var(--container-width);
}

.box-cont {
  width: 925px;
}

.header {
  position: relative;
}
.header::after {
  position: absolute;
  content: "";
  background-image: url("/img/header-el.avif");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  bottom: 0%;
}
.header-el__top {
  position: absolute;
  top: -20%;
  bottom: 0;
  left: -16%;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 350px;
  height: 350px;
  background: #599d2e;
  -webkit-filter: blur(155px);
  filter: blur(155px);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 9999;
  position: relative;
}
.navigation-block {
  margin: 11px 0;
}
.navigation-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation-menu ul li a {
  font-weight: var(--font-r);
  font-size: 15px;
  line-height: 20px;
}
.navigation-menu ul li a:hover {
  color: #599d2e;
}
.navigation-menu ul li + li {
  margin-left: 39px;
}
.navigation-social a + a {
  margin-left: 16px;
}
.navigation-social a:hover {
  opacity: 0.8;
}
.navigation-btn {
  cursor: pointer;
  background: #fff;
}
.navigation-btn a {
  color: #222939;
}
.navigation-btn:hover {
  background: #599d2e;
}
.navigation-btn:hover a {
  color: #fff;
}

.headercont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headercont-info {
  max-width: 675px;
}
.headercont-info h1 {
  width: 95%;
  font-size: 54px;
  line-height: 65px;
  font-weight: var(--font-l);
}
.headercont-info h1 span {
  font-weight: var(--font-bk);
}
.headercont-info p {
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--font-r);
  padding: 32px 0 66px;
  width: 70%;
}
.headercont-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headercont-info__link a {
  margin-right: 58px;
  z-index: 999;
  position: relative;
  color: #599d2e;
  font-weight: var(--font-m);
}
.headercont-info__link a:hover {
  opacity: 0.8;
}
.headercont-info__link a:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("/img/svg/link-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.headercont-info__link button {
  z-index: 999;
  border: none;
  cursor: pointer;
}
.headercont-info__link button:hover {
  background: #fff;
  color: #222939;
}
.headercont-info__awards {
  margin-top: 60px;
}
.headercont-info__awards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.headercont-info__awards ul li + li {
  margin-left: 73px;
}
.headercont-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 497px;
  width: 100%;
  position: absolute;
  right: 0;
  top: -11%;
  z-index: 1;
  overflow: hidden;
}
.headercont-slider--commit {
  position: absolute;
  padding: 18px 11px 18px 25px;
  border-radius: 20px;
  width: 253px;
  color: #222939;
  background: #fff;
  right: 10%;
  bottom: 20%;
}
.headercont-slider--commit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3px;
}
.headercont-slider--commit ul:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid #fff;
  top: -7%;
  right: 30%;
}
.headercont-slider--commit p {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-l);
  margin-bottom: 6px;
}
.headercont-slider--commit strong {
  font-size: 15px;
  line-height: 20px;
  font-weight: var(--font-sb);
}
.headercont-pagination {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: #222939;
  max-width: 169px;
  width: 100%;
  height: 28px;
  border-radius: 70px;
}

.swiper-wrapper {
  width: 497px;
}

.swiper-pagination-bullet {
  width: 17px;
  height: 3px;
  background: #bcbcbc;
  border-radius: 12px;
}
.swiper-pagination-bullet-active {
  width: 47px;
  background: #599d2e;
}
/*# sourceMappingURL=main.css.map */