<div class="about" data-aos="fade-up" data-aos-duration="3000">
  <div class="container">
    <div class="about-inner">
      <div class="about-inner__title">
        <h2>About us</h2>
      </div>
      <div class="about-inner__cont">
        <ul>
          <li>
            <p>
              Anthill Worldwide is a Ukraine-based software development company
              with over 15 years of expertise developing web and mobile apps for
              various industries, including healthcare, professional services,
              logistics, and educational institutions. We provide dependable,
              scalable, and secure software for every operating system, browser,
              or device. Our Professionals are driven to provide the most
              relevant and appropriate solutions for business corporations. We
              combine extensive industry experience with the most recent IT
              breakthroughs to properly provide tailored solutions that meet our
              client’s business requirements.
            </p>
            <img src="/img/about-img-1.png" alt="about-img-1" />
          </li>
        </ul>
      </div>
      <div class="about-inner__bottom">
        <ul>
          <li>
            <div class="about-inner__bottom--img">
              <img src="/img/about-img-2.png" alt="about-img-2" />
            </div>

            <div class="about-inner__bottom--text">
              <h2>What we do</h2>
              <p>
                Anthill Worldwide enables businesses with software development
                services. We endeavor to provide catalyst technologies to propel
                your company to the next level.
              </p>
              <p>
                We follow the golden rule of digitizing the business using
                successful designs and concepts. Anthill’s software packages and
                innovative technologies help organizations prepare for the
                future.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
