<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-inner__copy">
        <p>© 2006-2023 AWW ООО "AWW" Software development</p>
      </div>
      <div class="footer-inner__social">
        <ul>
          <li>
            <a href="#">
              <img src="img/svg/fb-icon.svg" alt="fb-icon" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/svg/linkedin-icon.svg" alt="linkedin-icon" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/svg/youtube-icon.svg" alt="youtube-icon" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-inner__partner">
        <img src="/img/svg/partner-icon.svg" alt="partner-icon" />
      </div>
    </div>
  </div>
</footer>
