<div class="services">
    <div class="container">
        <div class="services-tab">
            <h2>Our <span>services</span></h2>
        </div>
        <div class="services-tabs">
            <button class="services-tabs__btn active">Mobile App Development</button>
            <button class="services-tabs__btn ">UX/UI Designt</button>
            <button class="services-tabs__btn ">Web Development </button>
        </div>
        <div class="services-cont">
            <div class="services-cont__img">
                <img src="/img/services-img-1.png" alt="services-img">
            </div>
            <div class="services-cont__text">
                <h2>Mobile App Development</h2>
                <p>
                    tse revenue, and promote corporate growth and development.
                    We can also execute cross-platform app development due to our expertise in web and mobile app development.
                </p>
                <p>
                    Whether it is a custom solution or a disruptive enterprise-based offering, Anthill Worldwide manages the full mobile application development stage, from initialization and conceptualization through deployment and continuous support.
                </p>
                <p>
                    Our professionally talented mobile app Engineers have the experience to construct the most user-friendly software for your Android and iOS clients.
                </p>
                <div class="services-cont__link">
                    <button>Get request</button>
                    <a href="#">Watch more</a>
                </div>
            </div>

        </div>
    </div>
</div>