<div class="services" data-aos="fade-up" data-aos-duration="3000">
  <div class="services-el__top"></div>
  <div class="container">
    <div class="services-tab">
      <h2>Our <span>services</span></h2>
    </div>
    <div class="services-tabs">
      <button class="services-tabs__btn active">Mobile App Development</button>
      <button class="services-tabs__btn">UX/UI Designt</button>
      <button class="services-tabs__btn">Web Development</button>
    </div>
    <div class="services-cont show">
      <div class="services-cont__img">
        <img src="/img/services-img-1.webp" alt="services-img" />
      </div>
      <div class="services-cont__text">
        <h2>Mobile App Development</h2>
        <p>
          tse revenue, and promote corporate growth and development. We can also
          execute cross-platform app development due to our expertise in web and
          mobile app development.
        </p>
        <p>
          Whether it is a custom solution or a disruptive enterprise-based
          offering, Anthill Worldwide manages the full mobile application
          development stage, from initialization and conceptualization through
          deployment and continuous support.
        </p>
        <p>
          Our professionally talented mobile app Engineers have the experience
          to construct the most user-friendly software for your Android and iOS
          clients.
        </p>
        <div class="services-cont__link">
          <button>Get request</button>
          <a href="#">Watch more</a>
        </div>
      </div>
    </div>
    <div class="services-cont">
      <div class="services-cont__img">
        <img
          src="/img/services-img-2.webp"
          alt="services-img-2"
          width="591px"
          height="434px"
        />
      </div>
      <div class="services-cont__text">
        <h2>All-In-One Website Solution</h2>
        <p>
          Even though I am a newbie in this world it has been very easy for me
          to understand and manage my site.
        </p>
        <p>
          Easy to use platform. Very good and fast support. Highly recommended.
        </p>
        <p>
          Easy to use, intuitive and fluid interface, support always willing to
          assist in problems that may appear.
        </p>
        <div class="services-cont__link">
          <button>Get request</button>
          <a href="#">Watch more</a>
        </div>
      </div>
    </div>
    <div class="services-cont">
      <div class="services-cont__img">
        <img src="/img/services-img-1.png" alt="services-img" />
      </div>
      <div class="services-cont__text">
        <h2>Mobile 555 App Development</h2>
        <p>
          tse revenue, and promote corporate growth and development. We can also
          execute cross-platform app development due to our expertise in web and
          mobile app development.
        </p>
        <p>
          Whether it is a custom solution or a disruptive enterprise-based
          offering, Anthill Worldwide manages the full mobile application
          development stage, from initialization and conceptualization through
          deployment and continuous support.
        </p>
        <p>
          Our professionally talented mobile app Engineers have the experience
          to construct the most user-friendly software for your Android and iOS
          clients.
        </p>
        <div class="services-cont__link">
          <button>Get request</button>
          <a href="#">Watch more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="services-el__bottom"></div>
  <div class="services-expertise">
    <span></span>
    <div class="container">
      <div class="services-expertise__title">
        <h2>Our <strong>industry expertise</strong></h2>
        <p>
          We are the IT software development company that gets to realize
          clients’ business ideas and deliver cutting-edge solutions for various
          industries. And it’s good to be experts in different fields.
        </p>
      </div>
      <div class="services-expertise__inner">
        <ul>
          <li>
            <img src="/img/svg/services-expertice-1.svg" alt="services-exp-1" />
            <p>Healthcare</p>
          </li>
          <li>
            <img src="/img/svg/services-expertice-2.svg" alt="services-exp-2" />
            <p>Education</p>
          </li>
          <li>
            <img src="/img/svg/services-expertice-3.svg" alt="services-exp-3" />
            <p>Logistics</p>
          </li>
          <li>
            <img src="/img/svg/services-expertice-4.svg" alt="services-exp-4" />
            <p>Fintech</p>
          </li>
          <li>
            <img src="/img/svg/services-expertice-5.svg" alt="services-exp-5" />
            <p>Real Estate</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
