<div class="works">
    <div class="container">
        <div class="works-inner">
            <h2>Our <span>Works</span> </h2>
            <div class="works-content">
                <div class="works-content__wrapper swiper-wrapper">
                    <div class="works-slide swiper-slide">
                        <div class="works-slide__img">
                            <img src="img/works-img-1.webp" alt="works-img-1">
                            <span>E8</span>
                        </div>
                        <div class="works-slide__info">
                            <button>Web app</button>
                            <h2>
                                Est8App is a mobile application and web interface for clients and property owners.
                            </h2>
                            <p>
                                We have created several functional modules and solutions, including a mobile app for brokers, a longlist-generating algorithm, an appointment scheduling module, a web interface for property owners, and a web application for clients.
                            </p>
                            <p>
                                including a mobile app for brokers, a longlist-generating algorithm, an appointment scheduling module, a web interface for property owners, and a web application for clients.
                            </p>
                            <a href="#">
                                Watch more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="works-pagination">
                <div class="works-pagination__box">
                    <button
                            class="works-pagination__page active"
                            data-slide="0"
                    ></button>
                    <button class="works-pagination__page" data-slide="1"></button>
                </div>

            </div>
    </div>
</div>