<!-- hamburger menu -->
<nav class="menu">
  <div class="menu-inner">
    <div class="menu-inner__logo">
      <a href="#">
        <img src="/img/svg/logo.svg" alt="logo" width="104px" height="32px" />
      </a>
    </div>
    <div class="menu-inner__social">
      <img src="/img/svg/phone-icon.svg" alt="phone-icon" />
      <img src="/img/svg/mail-icon.svg" alt="mail-icon" />
    </div>
    <div class="menu-inner__btn">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="menu-inner__content">
    <ul>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#">Industries</a>
      </li>
      <li>
        <a href="#">Our Works</a>
      </li>
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">Technologies</a>
      </li>
      <li>
        <a href="#">Contact us</a>
      </li>
    </ul>
    <div class="menu-inner__content--social">
      <a href="#">
        <img src="/img/svg/fb-icon.svg" alt="fb-icon" />
      </a>
      <a href="#">
        <img src="/img/svg/linkedin-icon.svg" alt="linkedin-icon" />
      </a>
      <a href="#">
        <img src="/img/svg/youtube-icon.svg" alt="youtube-icon" />
      </a>
    </div>
  </div>
</nav>
<!-- end hamburger -->
