<div class="contact-adress">
  <h2 class="contact-adress__title">Get in touch</h2>
  <ul>
    <li>
      <h3>Adress</h3>
      <div class="contact-adress__text">
        <img src="img/svg/map-icon.svg" alt="map-icon" />
        <p>111A T. Shevchenko</p>
      </div>
    </li>
    <li>
      <h3>Phone</h3>
      <div class="contact-adress__link">
        <img src="img/svg/phone-icon.svg" alt="phone-icon" />
        <a href="tel:00546272444"> 0054-6272444</a>
      </div>
    </li>
    <li>
      <h3>E-mail</h3>
      <div class="contact-adress__link">
        <img src="img/svg/mail-icon.svg" alt="mail-icon" />
        <a href="mail:Info@mail.com">Info@mail.com</a>
      </div>
    </li>
  </ul>
</div>
