<div class="delivering-cont">
<h2>
    Delivering Bespoke <span>
    Software Solutions
</span> for your Business
</h2>
    <ul>
        <li class="delivering-cont__item">
            <div class="delivering-cont__item--img  ">
                <img src="/img/svg/delivering-icon-1.svg" alt="delivering-icon-1">
            </div>
            <div class="delivering-cont__item--text">
                <h3>Developed</h3>
                <p>Anthill Worldwide is a leading Ukraine-based software development company that offers full-stack mobile, web, and </p>
            </div>
        </li>
        <li class="delivering-cont__item">
            <div class="delivering-cont__item--img  ">
                <img src="/img/svg/delivering-icon-2.svg" alt="delivering-icon-2">
            </div>
            <div class="delivering-cont__item--text">
                <h3>Experienced</h3>
                <p>Anthill Worldwide is a leading Ukraine-based software development company that offers full-stack mobile, web, and </p>
            </div>
        </li>
        <li class="delivering-cont__item">
            <div class="delivering-cont__item--img  ">
                <img src="/img/svg/delivering-icon-3.svg" alt="delivering-icon-3">
            </div>
            <div class="delivering-cont__item--text">
                <h3>Distinct</h3>
                <p>Anthill Worldwide is a leading Ukraine-based software development company that offers full-stack mobile, web, and </p>
            </div>
        </li>
    </ul>
</div>