<div class="modal">
  <div class="modal-box">
    <div class="modal-inner">
      <div class="modal-inner__title">
        <h2>
          <span> Hire </span>
          our Top Software Development Professionals
        </h2>
      </div>
      <form action="#" class="modal-inner__form">
        <input type="text" name="name" placeholder="Your name*" />
        <input type="email" name="email" placeholder="Your E-mail*" />
        <input type="tel" name="phone" placeholder="Your phone*" />
        <button type="submit">Let's start</button>
      </form>
      <button class="modal-close">
        <p>x</p>
      </button>
    </div>
  </div>
</div>
