<div class="navigation">
  <div class="navigation-logo">
    <img src="/img/svg/logo.svg" alt="logo" />
  </div>
  <nav class="navigation-menu">
    <ul>
      <li>
        <a href="#"> Services </a>
      </li>
      <li>
        <a href="#"> Industries </a>
      </li>
      <li>
        <a href="#"> Our Works </a>
      </li>
      <li>
        <a href="#"> About us </a>
      </li>
      <li>
        <a href="#"> Technologies </a>
      </li>
      <li>
        <a href="#"> Contact us </a>
      </li>
    </ul>
  </nav>
  <div class="navigation-social">
    <a href="#">
      <img src="/img/svg/fb-icon.svg" alt="fb-icon" />
    </a>
    <a href="#">
      <img src="/img/svg/linkedin-icon.svg" alt="linkedin-icon" />
    </a>
    <a href="#">
      <img src="/img/svg/youtube-icon.svg" alt="youtube-icon" />
    </a>
  </div>
  <div class="navigation-btn">
    <a href="#"> Get request </a>
  </div>
</div>
